body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

section {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
}

input,
select,
textarea {
  background-color: #fff;
}

div {
  padding-bottom: .5rem;
}
